body{
    display: flex;
    flex-direction: column;
}
.main{
    margin: auto;
    width: 80vw;
    min-height: 90vh;
}
.top .under_hr{
    display: flex;
    justify-content: space-between;
}
.top_content{
    display: flex;
    flex-direction: column;
    position: relative;
}
.top_content .description{
    width: 64vw;
    display: flex;
    flex-direction: column;
}
.top_content .description ul{
    margin: 0 0 0 -20px;
}
.top_content .description a{
    text-decoration: none;
}
.top_content .description a:hover{
    text-decoration: underline;
}
.top_content .table_info{
    width: 20vw;
    border: 1px solid #a2a9b1;
    background: #f8f9fa;
    display: flex;
    flex-direction: column;
}
.top_content .table_info p{
    margin: 10px auto;
}
.top_content .table_info ul{
    list-style: none;
}
.top_content .image_info{
    width: 16vw;
    border: 1px solid #a2a9b1;
    background: #f8f9fa;
    position: absolute;
    top: 0; right: -0.5vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
    padding: 8px;
}
.top_content .image_info .top_logo{
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #cfe3ff;
    width: 15vw;
}
.top_content .image_info .top_logo img{
    width: 15vw;
}
.top_content .image_info .top_logo p{
    margin: 0 auto;
}
.top_content .image_info .main_img{
    width: 15vw;
}
.original{
    margin: 40px auto;
}
